<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" thread-count="2" name="C:/Users/tej/IdeaProjects/MavenTestNGProject">
        <classes>
            <class name="ExtentReport.ExtentReportsExample"/>
        </classes>
    </test>
    <parameter name="browserName" value="chrome"/>
</suite>